h3 {
   color: blue
}

.bob {
     color: yellow
}

#dod {
     color: orange
}

div b {
      color: pink
}

div p i, div small {
                   color: purple
}

#test {
      color: red;
      text-decotation: none
}

#test:hover {
            color: blue;
            text-decotation: underline;
            text-decotation-color: blue
   
}

