h3 {
    color: blue;
}

.bob {
    color: yellow;
}

#dod {
    color: orange;
}

div b {
    color: pink;
}

div p i, div small {
    color: purple;
}

#test {
    color: red;
    text-decoration: none;
}

#test:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

#test:active {
    color: black;
    text-decoration: line-through;
    text-decoration-color: grey;
}

#test:visited {
    color: grey;
    text-decoration: line-through;
}

#text1 {
    color: green;
    text-decoration: none;
}

#text1:hover {
    color: grey;
    text-decoration: underline;
    text-decoration-color: grey;
    cursor: pointer;
}

#text1:active {
    color: black;
    text-decoration: line-through;
    text-decoration-color: grey;
}

input {
    color: blue;
}

input:focus {
    color: red;
}

input:enabled {
    color: blue
}
